<header class="header">
    <section class="content">
      <nav class="nav">
        <a routerLink="/">
          <h1 class="logo">
            Na<span>(</span>Tasks<span>)</span><span>+</span>
          </h1>
        </a>
  
        @if(user) {
          <a routerLink="/dashboard" class="link">
            Meu painel
          </a>
        }
      </nav>
  
      @if(loading) {
        <div> Carregando... </div>
      }
    
      @if(!loading && user) {
        <button class="loginButton" (click)="logout()">
          {{ user.email }}
        </button>
      }
      @else {
        <div class="buttons">
          <button class="registerButton" (click)="register()">Cadastrar</button>
          <button class="loginButton" (click)="login()">Acessar</button>
        </div>
      }
    </section>
  </header>
  