<div class="container">
    <head>
      <title>Na(Tasks)+ | Organize suas tarefas de forma fácil</title>
    </head>
  
    <main>
      <div class="logoContent">
        <img src="assets/hero.png" alt="Logo Na(Tasks)+" class="hero" />
      </div>
      <h1 class="title">
        Sistema feito para você organizar<br />
        seus estudos e tarefas
      </h1>
  
      <div class="info-content">
        <section class="box">
          <span>+{{ posts }} posts</span>
        </section>
        <section class="box">
          <span>+{{ comments }} comentários</span>
        </section>
      </div>
    </main>
  </div>
  